body{
    font-family: 'Merriweather', serif;
    background: #FFF;
    
}
header{
    margin-top: 50px;
    /* margin-left: 140px;
    margin-right: 140px; */
    position: center;
    margin-bottom: 20%;
    margin-left: 140px;
    margin-right: 140px;
    position: center;
    
}
.header-bg{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url('../images/Banner Image.png');
    background-size: cover;
    width: 100%;
    height: 100%;
}
header img{
    width: 100%;
    z-index: 1;
    /* filter: grayscale(40%); */
}
.gradient{
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    z-index: 1;
}

.title-header{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-top: -35%;
    z-index: 1;
}
.header-title{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin: 0 250px;
    z-index: 1;
}

/* main section */
main{
    margin-top: 200px;
    margin-left: 140px;
    margin-right: 140px;
    position: center;
}
.off-section{
    margin-top: 200px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.off-section2{
    margin-top: 48px;
    margin-bottom: 16px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.off-section3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 120px;
}
.off-section-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    margin-bottom: 120px;
}
/* party section */
.party-section{
    margin-top: 120px;
    position: center;
    margin-bottom: 200px;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.party-image{
    width: 100%;
}
.gradient2{
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.party-content-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    
}
.party-2024{
    width: 70%;
}
.party-container{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: -35%;
    display: flex;
    position: center;
    justify-content: space-between;
    
}
.content1{
    flex: 2;
}
.content2{
    flex: 1;
    float: right;
}
.party-content{
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-right: 150px;
}
.btn-normal{
    margin-top: 30px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border-style: none;
}
.vanue{
    margin-top: 200px;
    position: center;
    margin-bottom: 120px;
    width: 100%;
    height: 450px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border: none;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.vanue p{
    margin-top: 120px;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 64px;
}
.red-title{
    color: #F00;
}
.btn-primary{
    border-style: none;
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 64px;
}

.new-offer{
    margin-bottom: 150px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-top: 200px;
}
.coming-soon{
    
}
.coming-soon-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.coming-soon-title2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.coming-soon-content{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.fire-party{
}
.fire-party-red-border{
    border-radius: 400px;
    height: 400px;
    width: 400px;
    border: 15px solid #F00;
}
.fire-party-red-border img{
    margin: 18px;
}
.year2024{

}
.year2024 img{
    margin-top: 40px;
}
.year2024-title{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.year2024-content{
    margin-top: 16px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.holyday-sell{

}
.holyday-sell-title{
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.holyday-sell-title2{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 28px;
}
.holyday-sell-title2-holyday{
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.holyday-sell p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin: 0 80px;
}
.off50{
    margin-bottom: 100px;
}

.off50-col1{
    display: flex;
    margin-top: 64px;
    /* margin-left: 70.62%;
    margin-right: 0%; */
    float: right;
}
.circle50{
    height: 250px;
    margin-top: 70px;
    margin-right: -130px;
    z-index: 1;
}
.rectangle1{
    width: 350px;
    z-index: -1;
}
.off50-col2{

}
.box{
    height: 500px;
    margin-top: -1000px;
    margin-left: 00px;
}
.rectangle2{
    width: 100%;
}
/* portfolio section */
.portfolio{
    margin-bottom: 200px;
}
.portfolio-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.portfolio-title2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.portfolio p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-right: 300px;
    margin-bottom: 48px;
}
.portfolio-image-row{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.portfolio-image-row img{
    width: 31.9%;
    object-fit: cover;
    /* width: auto; */
}
.portfolio-image-row img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* subscribe section */
.subscribe{
    position: center;
    text-align: center;
    margin-bottom: 200px;
}
.subscribe-rectangle{
    border-radius: 16px;
    height: 500px;
    width: 100%;
    background: rgba(255, 0, 0, 0.05);
    margin-bottom: 120px;
}
.subscribe-rectangle p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 48px;
}
.mailbox{
    height: 25%;
    margin-top: 60px;
}
.subscribe-title{
    margin-top: 20px;
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

input[type="email"]{
    border-radius:  50px 0px 0px 50px;
    height: 50px;
    width: 300px;
    padding: 0 10px 0;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border-style: none;
}
input[type="submit"]{
    border-radius: 0px 50px 50px 0px;
    border-style: none;
    background: #F00;
    height: 50px;
    width: 150px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
/* footer section */
footer{
    background: #070211;
    width: 100%;
    height: 550px;
}
.contact{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 120px;
    margin-bottom: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.contact-address{
    margin-top: 120px;
}
.contact-info{
    margin-top: 120px;
}
footer hr{
    background: rgba(255, 255, 255, 0.15);
    margin-left: 140px;
    margin-right: 140px;
}
.social-links{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.copyright-unsubscribe{
    margin-top: 50px;
    margin-bottom: 120px;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.unsubscribe{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    background-color: transparent;
    border-style: none;
}
